<% provide :title, t("help") %>
<h1><%= t "help" %></h1>
<p>
  <%= t "help_page.get_help_on_the_ruby_on_rails_tutorial_at_the" %>
  <%= link_to t("help_page.rails_tutorial_help_page"), Settings.rails_tutorial_help %>.
  <%= t "help_page.to_get_help_on_this_sample_app_see_the" %>
  <%= link_to t("help_page.ruby_on_rails_tutorial_book"), Settings.rails_book %>.
</p>
